pcb-defect-detection.code-workspace
.vscode/
venv/
__pycache__/
test.py
batch_scripts/
**/test.*
**/temp.*
**/annotation_summary.csv
**/*.tfrecord
source/image_preprocessing/tests/outputs/
source/utils/test_result_logger.py
**/test_results.log
**/test_results_simple.log
**/TODO.txt
source/image_preprocessing/notebooks/related/pipeline.json
