# Windows specific requirements deleted on 14.04.2024 (dd/mm/yyyy)
tensorflow-intel==2.14.0
pywin32==306
pywinpty==2.0.13

# Only used locally
pylint==3.0.2
directory-tree==0.0.4
openai==1.23.6
stdlib_list==0.10.0